@model User_Application.Models.Query.FeedbackViewModel
@{
}
<link rel="stylesheet" href="~/css/feedBack_Style.css">
<!DOCTYPE html>
<html>
<body class="feedBack">
<form asp-action="Query" asp-controller="Feedback" method="post">
    <textarea class="opacity-75" cols="100" rows="10" asp-for="feedBack" placeholder="Enter the text..."></textarea>
    <br />
        <button type="submit" class=" rounded btn-block ">Submit</button>
</form>
</body>
</html>