@model User_Application.Models.Authentication
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<body align="center">
    <h2>Change Password</h2>
    <form asp-action="Log_in" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Name" />
        <input type="text" asp-for="Username" readonly/>
        <br /><br />
        <input type="password" placeholder="New Password" asp-for="Password" required />
        <br />
        <br />
        <input type="submit" value="Change" />
    </form>
</body>
</html>
