@{

}
<link rel="stylesheet" href="~/css/Home_Style.css">

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body class="bg-image">
    <div class="pad-align">
       <h1>Welcome to Home Page!</h1>
    </div>
</body>
</html>
