@model User_Application.Models.Authentication

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body align="center">
    <h2>Reset Password..</h2>
        
    <form asp-action="Reset_Password" method="post">
        <input type="email" placeholder="Email" asp-for="Email" required />
        <br />
        <br />

       
        <input type="submit" value="Get Details" />
    </form>
</body>
</html>