.feedBack {
    background-image: url("https://images.pexels.com/photos/6935187/pexels-photo-6935187.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Garamond";
}
